.curved-loop-jacket {
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -200px;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  overflow: visible;
  display: block;
  font-size: 3rem;
  fill: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
