.heroSection{
    height: 600px;
    display: grid;
    place-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0px auto
}
.heroicon01{
   position: absolute;
   left: 120px;
   bottom: 120px;
}
.heroicon01 img{
    height: 80px;
    width: 100%;
    object-fit: contain;
    animation: roll 8s linear infinite;
}
.heroicon02{
   position: absolute;
   right: 90px;
   top: 120px;
}
.heroicon02 img{
    height: 70px;
    width: 100%;
    object-fit: contain;
    animation: roll 8s linear infinite;
}
@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }

  
}
.heroSection h1{
    font-size: 4rem;
    color: #fff;
    text-align: center;
}
.heroSection span{
    background-color: #ff902f;
    padding: 5px 30px;
    border-radius: 50px;
   font-size: 3rem;
}
.heroSection h4{
    font-size: 1.2rem;
    color: #909090;
    text-align: center;
    max-width:700px;
    margin: 50px auto 10px auto;
}
.herosection-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
}
.heroSection button:first-child{
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 5px;
      box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
        box-sizing: border-box;
}
.heroSection button:last-child{
    padding: 10px 30px;
    border: 1px solid  #ff902f;
    border-radius: 5px;
    background-color: transparent;
    color:  #ff902f;
    font-size: 16px;     cursor: pointer;
    margin: 20px 5px;
      box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
        box-sizing: border-box;
}

/* who we are secction css start here */

.who-we-are{
    margin: 0px auto 20px auto;
    max-width: 1200px;
    padding: 0px 0px 20px 0px;
}

.who-we-are-img {
  width: 100%;
  overflow: hidden;
  display: block !important;

}
.who-we-are-video{
    display: none !important;
}

.who-we-are-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* KEY FIX */
  display: block;
}




.who-we-are h2{
    font-size: 2rem;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
}
.who-we-are h4{
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
}
.who-we-are p{
    font-size: 1rem;
    color: #606060;
    text-align: left;
    margin-bottom: 20px;
}
.who-we-are button{
        padding: 10px 30px;
    border: 1px solid  #ff902f;
    border-radius: 5px;
    background-color: transparent;
    color:  #ff902f;
    font-size: 16px;     cursor: pointer;
    margin: 20px 5px;
      box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
        box-sizing: border-box;
}

@media (max-width:780px)
{
    .who-we-are-video{
    display: block !important;
}
    .who-we-are-img{
    display: none !important;
}
}

@media (max-width: 640px)
{
  .who-we-are {
    margin: 20px auto 20px auto;
    max-width: 1200px;
    padding: 20px 20px;
}
.who-we-are p{
    font-size: .9rem;
    color: #606060;
    text-align: justify;
    margin-bottom: 20px;
}
.heroSection span {
    background-color: #ff902f;
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 2rem;
}
.heroSection{
    height: 600px;
  
}

.heroicon01{
   position: absolute;
   left: 20px;
   bottom: -26px;
}
.heroicon01 img{
    height: 55px;
    width: 100%;
    object-fit: contain;
}

    .heroicon02 {
        position: absolute;
        right: 30px;
        top: 38px;
    }
    .heroicon02 img{
        height: 50px;
        width: 100%;
        object-fit: contain
    }

    .who-we-are-img {
  width: 100%;
  overflow: hidden;
  margin: 50px 0px;
}

}