
:root {
  --card-height: 400px;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}
main ul{
    margin: 0px !important;
    padding: 0px !important;
}
main .card {
    background: #fff;
    color: #000;
    padding: 28px;
    border-radius: 5px;
    max-width: 100% !important;
    
    text-align: left;
}

.stackHeader, main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
b 
.stackHeader {
  height: 35vh;
  display: grid;
  place-items: center;
  margin-bottom: 80px;
}

#cards {
  list-style: none;
  display: grid;
  width: 100% !important;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
}

#card-1 {
  --index: 2;
  background-color: #fff;
}

#card-2 {
  --index: 2;
    background-color: #ff902f;
   
}
#card-2 .badge span{
  color: #fff;
  background-color: #000;
}
#card-2 h2 , #card-3 h2{
  color: #fff;
}
#card-2 p , #card-3 p{
  color: #fff;
}
#card-3 {
  --index: 3;
  background-color: #151515;
}

#card-4 {
  --index: 3;
  background-color: #fff
}
.stackHeader 
h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0rem;
 color: #fff;
}
.stackHeader h1 span {
  color: #ff902f;
  /* padding: 10px; */
}
.stackHeader p{
  color: #606060;
  margin-bottom: 40px;
  width: auto !important;
}
#cards h2 {
  font-weight: bold;
  font-size: 1.8rem;
  
  margin: 20px 0px 10px 0px;
}
     
#cards p {
  font-weight: 300;
  line-height: 1.42;
  font-size: 15px;
  margin: 20px 0px 15px 0px;
  color: #606060;
}
main .card {
  position: sticky;
  top: 100px;
  padding-top: calc(var(--index) * var(--card-top-offset));
}
.badge{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.badge span{
  background-color: #ff902f;
  color: #fff;
  padding: 6px 12px;
  margin: 0px 7px 0px 0px;
  display: block;
  font-size: 14px;
  border-radius: 3px;
  margin-top: 8px;
}
.card-content {

  color: #131212;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: start !important;
  padding: .7em;   
}

.card-content > div {
  grid-area: text;
  width: 95%;
  max-width: 800px;
  place-self: center;
  text-align: left;
  display: grid;
  place-items: start;
}

.card-content > figure {
  grid-area: img;
  overflow: hidden;
}

.card-content > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .4em;
}


/* Animation */
@supports (animation-timeline: works) {

  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
      selector(#cards) start 1,
      selector(#cards) start 0
    ;
    start: selector(#cards) start 1;
    end: selector(#cards) start 0;
    time-range: 4s;
  }

  .card {
    --index0: calc(var(--index) - 1);
    --reverse-index: calc(var(--numcards) - var(--index0));
    --reverse-index0: calc(var(--reverse-index) - 1);
  }
  
  .card__content {
    transform-origin: 50% 0%;
    will-change: transform;

    --duration: calc(var(--reverse-index0) * 1s);
    --delay: calc(var(--index0) * 1s);

    animation: var(--duration) linear scale var(--delay) forwards;
    animation-timeline: cards-element-scrolls-in-body;
  }

  @keyframes scale {
    to {
      transform:
        scale(calc(
          1.1
          -
          calc(0.1 * var(--reverse-index))
        ));
    }
  }
}

@media(max-width: 1220px)
{
  .stackHeader h1{
    padding: 0px 20px; 
  }
  .stackHeader p{
    padding: 0px 20px; 
  }
 
  main .card{
    margin: 0px 16px;
    padding: 15px ;
  }
  #cards {
  list-style: none;
  display: grid;
  width: 100% !important;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), "fit-content") !important;
  gap: var(--card-margin);
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
}



  
}

/* @media (max-width: 640px) {
  main .card {
    background: #fff;
    color: #000;
    padding: 28px;
    border-radius: 5px;
    max-width:  !important;
    
    text-align: left;
}
} */

@media (max-width: 620px) 
{
  .card-content {
    color: #131212;
    border-radius: 5px;
    overflow: hidden;
    display: block;
  }
  figure{
    margin: 40px 0px 0px 0px !important;
  }
  main .card {
 
    max-width: 85% !important;
    text-align: left;
    margin: 0px auto !important;
}
}